<beans xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xmlns = "http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <bean id="junior" class="exmpl.Knights.Knight_Junior"/>
    <bean id="senior" class="exmpl.Knights.Knight_Senior"/>
    <bean id="simple_quest" class="exmpl.Quests.Quest1"/>
    <bean id="hard_quest" class="exmpl.Quests.Quest2"/>

</beans>